body,nav,img,ul,li,figure{
	margin: 0;
	padding: 0;
}

body{
	background-color: #dedede;
	font-family: "微软雅黑";
}

nav{
	height: 60px;
	background-color: #333333;
}

.logo{
	margin-left: 40px;
	margin-top: 10px;
}

nav ul{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}
	
nav li{
	width: 60px;
	height: 16px;
	float: left;
	margin-left: 20px;
	font-size: 12px;
}

nav li a{
	text-decoration: none;
	color: #fffcf7;
}

nav li a:hover,
nav li a:focus,
nav li a:active{
	color: #959096;
}

main{
	padding: 20px;
}

article,
aside{
	background-color: #ffffff;
	padding: 25px 20px;
	margin-bottom: 20px;
	border: 1px solid #cdcdcd;
	box-shadow: 2px 2px 3px #848484;
}

article:hover,
article:focus{
	box-shadow: 5px 5px 6px #848484;
}

.arti-info h3,
.arti-info span{
	color: #646464;
}

.arti-two ul{
	list-style: none;
	padding: 20px;
}

.arti-three img{
	height: 80px;
	width: 100px;
}
.arti-three figure{
	text-align: center;
	width: 120px;
	height: 124px;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 2px solid #cdcdcd;
	float: left;
}
.arti-three figcaption{
	font-size: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
}
.arti-three{
	overflow: hidden;
}

.arti-four table{
	width: 100%;
	font-size: 14px;
}

.arti-four th,
.arti-four td{
	outline:1px solid #cdcddc;
	padding: 5px;
}

.arti-four thead{
	background-color: black;
	color: white;
	text-align: left;
}

.arti-four tfoot{
	background-color: #cdcddc;
}

aside{
	width: 365px;
	position: absolute;
	top: 80px;
	right: 20px;
}

aside h3{
	border-left: 3px solid #cdcddc;
	padding: 5px 10px;
	font-size: 16px;
}

form em{
	display: block;
	margin-left: 128px;
	padding-top: 8px;
	padding-bottom: 6px;
	font-style: normal;
	font-size: 13px;
	color: #848484;
}

input,label,textarea,button,select{
	font-family: "微软雅黑";
}

.email input,
.password input,
.rep-password input{
	margin-left: 10px;
}

.email,.password,.rep-password{
	margin-bottom: 10px;
}

.password{
	margin-left: 32px;
}

.gender, .city, .hobbies{
	margin-left: 80px;
	margin-bottom: 10px;
}

.gender span,
.hobbies span{
	margin-right: 5px;
}

.city label{
	margin-right: 10px;
}

.desc label,
.desc textarea{
	display: block;
	float: left;
}

.desc{
	overflow: hidden;
}

.desc label{
	margin-left: 48px;
	margin-right: 17px;
}
.desc textarea{
	width: 50%;
	height: 80px;
}

form button{
	padding: 8px;
	width: 100%;
	border: none;
	margin-top: 20px;
	color: white;
	background-color: #3355d0;
	font-size: 18px;
	border-radius: 10px;
}

.wrap{
	margin-left: 0;
}

footer{
	height: 70px;
	width: 100%;
	background-color: #282828;
	padding-top: 20px;
}

footer span{
	margin-left: 48%;
	color: white;
	font-size: 14px;
}

main {
	margin-right: 425px;
}